.mdl-layout__drawer-button .material-icons {
    line-height: 1.9;
}
.grid-centered {
    margin: 0 auto;
    width: 65%;
    text-align: center;
    max-width: 1000px;
}
ul {
    list-style-position: inside;
}
#id-client-info, #id-client-login {
    width: 50%;
    min-width: 350px;
    margin: 0 auto;
}

.demo-card-square.mdl-card {
  width: 100%;
  max-width: 300px;
  height: 200px;
}
.mdl-card__title {
  color: #fff;
  background: #03A9F4;
}

.mdl-cell {
    min-width: 250px;
}

.card-wrap {
    margin: 0 auto;
}
#id-client-info .card-wrap {
    width: 80%;
    max-width: 500px;
}

.button-full {
    width: 70%;
}

.user-info {
    font-size: 1.5em;
    text-align: left;
}

.user-info li{
    list-style: none;
    padding-top: 9px;
    padding-bottom: 11px;
}

/* Messages styles */
#messages {
    color:white;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
#messages .message {
    padding: 10px 30px;
    margin: 0 auto;
    margin-top: 10px;
}
#messages .message.warn {
    background: red;

}
#messages .message.success {
    background: green;
}

/* SSO form */
.sso #id-login-area .inputs {
    margin: 20px 0;
}

.sso #id-login-area label {
    font-size: 1.2em;
}

.sso #id-sso-login-header {
    display: block;
    font-size: 1.5em;
    margin-top: 20px;
}
.sso .input-pass,.input-email {
    margin: 10px;
}
.sso .d-none {
    display: none;
}