.sso .mdl-layout__drawer-button .material-icons {
    line-height: 1.9;
}

.sso ul {
    list-style-position: inside;
}
.sso #id-client-info, .sso #id-client-login {
    width: 50%;
    margin: 0 auto;
}

.sso .demo-card-square.mdl-card {
  width: 100%;
  max-width: 300px;
  height: 200px;
}
.sso .mdl-card__title {
  color: #fff;
  background: #46B6AC;
}

.sso .card-wrap {
    margin: 0 auto;
}

.sso .user-info {
    font-size: 2em;
    text-align: left;
}

.sso .user-info li{
    list-style: none;
    padding-top: 9px;
    padding-bottom: 11px;
}

/* SSO FORM COMMONS */
.sso #id-login-area .inputs {
    margin: 20px 0;
}

.sso #id-login-area label {
    font-size: 1.2em;
}

.sso #id-sso-login-header {
    display: block;
    font-size: 1.5em;
    margin-top: 20px;
}
.sso .input-pass,.input-email {
    margin: 10px;
}
.sso .d-none {
    display: none;
}