/* Iframe CSS */
.sso .grid-centered {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.sso .button-wrap {
    text-align: center;
}
#id-iframe-login {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
#id-client-login {
    width: 100% !important;
}
.sso #id-login-area {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
}

/* Iframe domain dependat styles */
/*
.m2-domain1-local a, .m2-domain2-local a{
    color: rgb(255,64,129) !important;
}

.m2-domain1-local .mdl-textfield--floating-label.is-focused .mdl-textfield__label{
    color: #3F51B5 !important;
}
.m2-domain1-local .mdl-textfield__label:after {
    background-color: #3F51B5 !important;
}

.m2-domain2-local .mdl-textfield--floating-label.is-focused .mdl-textfield__label{
    color: #F44336 !important;
}
.m2-domain2-local .mdl-textfield__label:after {
    background-color: #F44336 !important;
}
*/
