/* Iframe CSS */
.sso .grid-centered {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.sso .button-wrap {
    text-align: center;
}
#id-iframe-login {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
#id-client-login {
    width: 100% !important;
}
.sso #id-login-area {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
}