/* Direct and NoScript login CSS */
.sso .grid-centered {
    margin: 0 auto;
    width: 65%;
    text-align: center;
}

.sso .button-full {
    width: 50%;
}

.sso #id-login-area {
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
}
